
.container {
    width: 300px;
    height: 300px;
    display: block;
    opacity: 1;
    border-radius: 18px;
    border: 0px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    transition: opacity 0.2s ease-out 0s;
    /* user-select: none; */
    font-family: Arial, sans-serif;
    margin-top: 25px;
    margin-left: 25px;
    position: relative;
}

.container .button-close {
    background: transparent;
    border: 0;
    right: 0;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-right: 15px;
    margin-top: 15px;
}

.container .container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.container .container-header .container-title {
    font-size: 16px;
}

.container .container-options {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    padding: 0 15px;
    gap: 10px;
}

.container .container-options .container-option {
    padding: 0 15px;
    border-radius: 15px;
    background-color: #f0f4f6;
    cursor: pointer;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    transition-duration: 0.3s;
    gap: 20px;
}

.container .container-options .container-option:hover {
    background-color: #dce9f5;
    scale: 1.05;
}

.container .container-options .container-option h1 {
    font-size: 15px;
}

.option-erro {
    background-color: rgb(190, 24, 93);
    box-shadow: rgb(190, 24, 93) 0px 0px 8px 0px;
    color: white;
}

.option-ideia {
    background-color: rgb(15, 118, 110);
    box-shadow: rgb(15, 118, 110) 0px 0px 8px 0px;
    color: white;
}

.option-other {
    background-color: rgb(14, 116, 144);
    box-shadow: rgb(14, 116, 144) 0px 0px 8px 0px;
    color: white;
}

.option {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

svg {
    height: 20px;
}